<h1>Places</h1>

<p>Here's a list of your places: feel free to play with it.</p>

<p *ngIf="!places"><em>Loading...</em></p>

<div class="commands text-right">
  <button pButton type="button" icon="pi pi-plus" class="p-button-raised p-button-rounded p-button-success"
    style="margin-top:2px; margin-right:2px; height:60px; width:60px;" [routerLink]="['/place']">
  </button>
</div>

<div class="card" *ngIf="places" style="margin-top:10px">
  <p-dataView #dv [value]="places" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid">
    <ng-template let-place pTemplate="gridItem">
      <div style="padding:.5em;" class="ui-g-4 ui-md-4">
        <!-- <p-panel [style]="{'text-align':'center !important', 'vertical-align': 'middle !important', 'font-size': '1.5rem',
                'font-weight': '700'}"> -->
        <div class="place-grid-item card">
          <div class="place-grid-item-content">
            <div class="place-category" [style]="{'font-size': '2rem', 'font-weight': '700'}">{{place.name}}</div>
            <img src={{place.attachmentUrl}} size="small" wrapped>
            <div class="place-category">City: <strong>{{place.city}}</strong></div>
            <div class="place-category">Country: <strong>{{place.country}}</strong></div>
            <div class="place-category">Latitude: <strong>{{place.latitude}}</strong></div>
            <div class="place-category">Longitude: <strong>{{place.longitude}}</strong></div>
          </div>
          <!-- <p-gmap #gmap [style]="{'width':'100%','height':'320px', 'margin-bottom': '1em'}" [optionsTab[0]]="options"
                        [overlays]="overlays"></p-gmap> -->
          <hr class="ui-widget-content" style="border-top:0; border: 1px solid #eebf90 !important;">
          <div style="text-align: center;">
            <button [routerLink]="['/place', place.placeId]" pButton type="button" icon="pi pi-pencil"
              class="p-button-raised p-button-rounded p-button-info"
              style="margin-top:2px; margin-bottom:10px; margin-right:2px; height:40px;"></button>
            <button (click)="onPlaceDelete( place.placeId )" pButton type="button" icon="pi pi-trash"
              class="p-button-raised p-button-rounded p-button-danger"
              style="margin-top:2px; margin-bottom:10px; margin-right:2px; height:40px;"></button>
          </div>
        </div>
        <!-- </p-panel> -->
      </div>
    </ng-template>
  </p-dataView>

  <p-dialog style="text-align: center;" header={{selectedPlace?.name}} [(visible)]="displayDialog" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '450px, text-align:center'}" (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedPlace" style="text-align:center">

      <div class="ui-g-12" style="text-align:center">
        <h1 style='color:#2769be;'> {{selectedPlace?.name}}</h1>

        <div class="ui-g-12 ui-md-4">
          <p style='font-size: 200;'><strong>Latitude :
            </strong>{{selectedPlace?.latitude}}</p>
          <p style='font-size: 200;'><strong>Longitude :
            </strong>{{selectedPlace?.longitude}}</p>
        </div>
        <div class="ui-g-12 ui-md-4">
          <p style='font-size: 200;'><strong>City :
            </strong>{{selectedPlace?.city}}</p>
        </div>
        <div class="ui-g-12 ui-md-4">
          <p style='font-size: 200;'><strong>Country :
            </strong>{{selectedPlace?.country}}</p>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
